# API Base URL
VITE_API_URL=http://localhost:3000/api

# App Environment
VITE_ENV=development

# Mostrar usuarios demo en la pantalla de login
VITE_SHOW_DEMO_USERS=true

# Google reCAPTCHA v2 (checkbox)
VITE_RECAPTCHA_SITE_KEY=6LdRraUsAAAAABDom6H8iyjAqSoigIn5qPgQXqfR
